<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="col-sm-8">
        <div class="container-fluid" style="background-color: coral">test</div>
      </div>
      <div class="col-sm-4">
        <div class="container-fluid" style="background-color: black;">
          testetsetaesdsagasdgfasd fadsfdsfsdafdsfsadf
        </div>
      </div>
    </div>
  </body>
</html>
