<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css"
    />
    <link rel="stylesheet" href="/style-displayFlight-page.css" />
  </head>

  <body>
    <div class="container-fluid">
      <h1>Display</h1>
      <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#ListView">List View</a></li>
        <li class="active">
          <a data-toggle="tab" href="#MatrixView">Matrix View</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="ListView" class="tab-pane fade">
          <h3>List View</h3>
          <span class="badge" id="flights-badge">1</span>
          <a> of <a id="flights-page-total-list">3</a> flights show-one way </a>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Price</th>
                <th>Airline</th>
                <th>Take-off</th>
                <th>Landing</th>
                <th>Stop(Duration)</th>
              </tr>
            </thead>
            <tbody id="table-body-1"></tbody>
          </table>

          <nav aria-label="Page navigation example text-center">
            <ul id="flights-pagination1" class="pagination"></ul>
          </nav>
        </div>
        <div id="MatrixView" class="tab-pane fade in active">
          <h3>Matrix View</h3>
          <span class="badge" id="flights-badge">1</span>
          <a> of <a id="flights-page-total">3</a> flights show-one way </a>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Price</th>
                <th>Airline</th>
                <th>Take-off</th>
                <th>Landing</th>
                <th>Stop(Duration)</th>
              </tr>
            </thead>
            <tbody id="table-body-2"></tbody>
          </table>
          <nav aria-label="Page navigation example text-center">
            <ul id="flights-pagination" class="pagination"></ul>
          </nav>
        </div>
      </div>
    </div>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

  <script src="/flight_list.js"></script>
</html>
